/* Responsive design */
@media only screen and (max-width: 1000px) {
  .flexrow-container {
    align-self: unset;
    margin-right: 0;
  }
}

@media only screen and (max-width: 800px) {
  #header {
    font-size: 2rem;
  }
  form input.light-input {
    background-color: #bdbfc2;
    color: #1a150e;
  }
}

@media only screen and (max-width: 400px) {
  #header {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 400px) {
  form {
    align-items: center;
    flex-direction: column;
  }

  form input {
    border-radius: 17px;
  }

  form button {
    border-radius: 15px;
    margin-top: 15px;
    width: 50%;
  }
  form > button.light-button {
    box-shadow: 0 0 5px lightgray;
  }
}
